<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%=cl_image_path 'banner_1_sl1col.jpg', width: 1400, height: 1000, crop: :fill %>');">
  <div class="container">
    <h1>Hi <%=current_user.username %></h1>
  </div>
</div>

<div class="container mt-4">
  <div class="container-my-cocktails">
    <div>
      <h3 class="mb-4"> Manage your cocktails: </h3>
      <%= render partial: 'shared/my-cocktails-card'%>
    </div>
    <div>
      <h3 class="mb-4"> Mix new cocktail: </h3>
      <%=link_to "Mix it baby!", new_user_cocktail_path(current_user.id), class: "btn-orange"%>
    </div>
  </div>
</div>
