.container-cocktail {
  min-width: 400px;
  height: 300px;
  padding: 20px;
  margin: 40px auto;
  background-color: white;
}

.container-inspiration {
  max-width: 600px;
  height: 300px;
  padding: 20px;
  margin: 40px auto;
  background-color: white;
}
