.btn-orange {
  color: $orange;
  border: 2px solid $orange;
  padding: 8px 24px;
  border-radius: 50px;
  transition: opacity 0.3s ease;
}

.btn-orange:hover {
  color: $purple;
  border-color: $purple;
}
